@model Datos

@{
    ViewData["Title"] = "Home Page";
}

<h2 class="titulo">Registrar Paciente o Agendar Cita</h2>

<label id="mensajeResultado">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    else if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
</label>


<div>
    <div>
        <h3 class="titulo">Buscar Paciente por Cédula</h3>
        <form asp-action="buscar" method="post">
            <div class="box_IngreseCedula">
                <label>Ingrese su cédula:</label>
                <input asp-for="cedulaP" type="text" class="form-control" />
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </form>

        <div>
            @if (TempData["SuccessMessage"] != null && TempData["SuccessMessage"].ToString() == "Error: El paciente no fue encontrado.")
            {
                <button class="btn btn-info" onclick="window.location.href='@Url.Action("RegistrarPaciente", "Home")'">Registrar Paciente</button>
            }
        </div>
    </div>
    <div>
        <h3 class="titulo">Agendar Cita</h3>
        <form asp-action="Agendar" method="post">
            <div class="box_IngresarDatosCita">
                <div class="form-group">
                    <label>Id Paciente:</label>
                    <input asp-for="id_pacienteC" type="text" class="form-control" value="@TempData["IdPaciente"]" readonly/>
                </div>

                <div class="form-group">
                    <label>Fecha y Hora de la Cita:</label>
                    <input asp-for="fecha_adicionC" type="datetime-local" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Motivo de la Consulta:</label>
                    <input asp-for="motivo_consultaC" type="text" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Estado de la Consulta:</label>
                    <select asp-for="estadoC" class="form-control">
                        <option value="Pendiente">Pendiente</option>
                        <option value="Confirmada">Confirmada</option>
                        <option value="Cancelada">Cancelada</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Agentar Cita</button>
            </div>
        </form>
    </div>
    <div>
        <h3 class="titulo">Citas del Día</h3>
        <table class="table table-hover mt-3">
            <thead class="table-header">
                <tr>
                    <th>ID Cita</th>
                    <th>ID Paciente</th>
                    <th>Fecha y Hora</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <form asp-action="Procesar" asp-route-tipo="testeos" method="post">
            <button type="submit" class="btn btn-secondary">Testar</button>
        </form>
    </div>
</div>
